<?xml version="1.0" encoding="UTF-8"?>
<config>
	<routes override="1">
		<route id="MainPageShow" path="/" command="MainPageShow" method="get" />

		<route id="default" path="/default" command="DefaultCommand" />

		<route id="SignIn" path="/SignIn" command="SignIn" method="get" />

		<route id="SignInResult" path="/SignIn" command="SignInResult" method="post" />

		<route id="Registration" path="/Registration" command="Registration" method="get" />

		<route id="RegistrationResult" path="/Registration" command="RegistrationResult" method="post" />

		<route id="SignOut" path="/SignOut" command="SignOut" method="get" />

		<route id="Msg404" path="/Msg404" command="Msg404" method="get" />


<!-- кабинет -->
		<route id="MyCabinet" path="/cabinet" command="MyAccountShow" method="get" />

		<route id="MyProfileShow" path="/cabinet/profile" command="MyProfileShow" method="get" />

		<route id="MyProfileSave" path="/cabinet/profile" command="MyProfileSave" method="post" />

		<route id="MyAccountShow" path="/cabinet/account" command="MyAccountShow" method="get" />

		<route id="MyAccountSave" path="/cabinet/account" command="MyAccountSave" method="post" />

		<route id="MyStatisticShow" path="/cabinet/statistic" command="MyStatisticShow" method="get" />

<!-- система ообщений -->
		<route id="MyMessageShow" path="/cabinet/message" command="MyMessageShow" method="get" />

		<route id="MSPersonalGroupsShow" path="/cabinet/message/personal" command="MSPersonalGroupsShow" method="get" />

		<route id="MSPersonalGroupCreate" path="/cabinet/message/personal/new" command="MSPersonalGroupCreate" method="post" />

		<route id="MSPersonalGroupShow" path="/cabinet/message/personal/{mg_id}" command="MSPersonalGroupShow" method="get">
			<param name="mg_id" pattern="uid"/>
		</route>

		<route id="MSPersonalGroupMessageCreate" path="/cabinet/message/personal/new_message" command="MSPersonalGroupMessageCreate" method="post" />

		<route id="MSPersonalGroupAddUsers" path="/cabinet/message/personal/add_users" command="MSPersonalGroupAddUsers" method="post" />

		<route id="MSPersonalGroupDelMe" path="/cabinet/message/personal/del_me" command="MSPersonalGroupDelMe" method="post" />

		<route id="AllUsersShow" path="/allusers" command="AllUsersShow" method="get" />

		<route id="FileGet" path="/file/{code}" command="FileGet" method="get">
			<param name="code">[a-zA-Z0-9]{1,32}</param>
		</route>

		<route id="ProfileShow" path="/profile/{uid}" command="ProfileShow" method="get">
			<param name="uid" pattern="uid" />
		</route>


<!-- Мероприятия -->
		<route id="EventCreate" path="/event/create" command="EventCreate" method="get" />
		<route id="EventCreateResult" path="/EventCreateResult" command="EventCreateResult" method="post" />
		<route id="EventShow" path="/event/{e_id}" command="EventShow" method="get">
			<param name="e_id">[1-9][0-9]*</param>
		</route>
		<route id="EventChange" path="/EventChange/{e_id}" command="EventChange" method="get">
			<param name="e_id">[1-9][0-9]*</param>
		</route>
		<route id="EventChangeResult" path="/EventChangeResult" command="EventChangeResult" method="post" />
		<route id="EventsShow" path="/event" command="EventsShow" method="get" />
	</routes>
</config>
