<?xml version="1.0" encoding="UTF-8"?>
<config>
	<routes override="1">
		<route id="MainPageShow" path="/" command="MainPageShow" method="get" />

		<route id="default" path="/default" command="DefaultCommand" />

		<route id="SignInResult" path="/SignIn" command="SignInResult" method="post" />

		<route id="Registration" path="/Registration" command="Registration" method="get" />

		<route id="RegistrationResult" path="/Registration" command="RegistrationResult" method="post" />

		<route id="SignOut" path="/SignOut" command="SignOut" method="get" />

		<route id="Msg404" path="/Msg404" command="Msg404" method="get" />

<!-- кабинет -->
		<route id="MyCabinet" path="/cabinet" command="MyAccountShow" method="get" />

		<route id="MyProfileShow" path="/cabinet/profile" command="MyProfileShow" method="get" />

		<route id="MyProfileSave" path="/cabinet/profile" command="MyProfileSave" method="post" />

		<route id="MyAccountShow" path="/cabinet/account" command="MyAccountShow" method="get" />

		<route id="MyAccountSave" path="/cabinet/account" command="MyAccountSave" method="post" />


<!-- система ообщений -->
		<route id="message_groups_types" path="/message" command="MessageSystemShow" method="get" />

		<route id="message_groups_show" path="/message/{mg_type}/groups" command="MessageSystemGroupsShow" method="get">
			<param name="mg_type" pattern="mg_type"/>
		</route>

		<route id="to_create_personal_mg" path="/message/personal/group/create" command="MSPersonalGroupToCreate" method="get" />

		<route id="to_create_expertise_mg" path="/message/expertise/group/create" command="MSExpertiseGroupToCreate" method="get" />

		<route id="to_create_system_mg" path="/message/system/group/create" command="MSSystemGroupToCreate" method="get" />

		<route id="create_personal_mg" path="/message/personal/group/create" command="MSPersonalGroupCreate" method="post" />

		<route id="ecreate_xpertise_mg" path="/message/expertise/group/create" command="MSExpertiseGroupCreate" method="post" />

		<route idcreate_="system_mg" path="/message/system/group/create" command="MSSystemGroupCreate" method="post" />

		<route id="message_group_show" path="/message/{mg_type}/group/{mg_id}" command="MessageSystemGroupShow" method="get">
			<param name="mg_type" pattern="mg_type"/>
			<param name="mg_id" pattern="uid"/>
		</route>

		<route id="unsubcribe_personal_mg" path="/message/personal/group/{mg_id}/unsubcribe" command="MSPersonalGroupUnsubscribe" method="get">
			<param name="mg_id" pattern="uid"/>
		</route>

		<route id="create_message" path="/message/{mg_type}/group/{mg_id}/send_message" command="MessageSystemMessageCreate" method="post">
			<param name="mg_type" pattern="mg_type"/>
			<param name="mg_id" pattern="uid"/>
		</route>

		<route id="mg_settings_show" path="/message/{mg_type}/group/{mg_id}/settings" command="MessageSystemGroupSettingsShow" method="get">
			<param name="mg_type" pattern="mg_type"/>
			<param name="mg_id" pattern="uid"/>
		</route>

		<route id="mg_settings_save" path="/message/{mg_type}/group/{mg_id}/settings" command="MessageSystemGroupSettingsSave" method="post">
			<param name="mg_type" pattern="mg_type"/>
			<param name="mg_id" pattern="uid"/>
		</route>

		<route id="get_file" path="/message/get/file/{code}" command="MessageSystemFileGet" method="get">
			<param name="code">[a-zA-Z0-9]{1,32}</param>
		</route>

		<route id="ok_expertise" path="/message/expertise/group/{mg_id}/ok" command="MSExpertiseGroupOk" method="get">
			<param name="mg_id" pattern="uid"/>
		</route>

		<route id="start_expertise" path="/message/expertise/group/{mg_id}/start" command="MSExpertiseGroupStart" method="post">
			<param name="mg_id" pattern="uid"/>
		</route>

		<route id="return_expertise" path="/message/expertise/group/{mg_id}/return" command="MSExpertiseGroupReturn" method="post">
			<param name="mg_id" pattern="uid"/>
		</route>
	</routes>
</config>
